/* body */
body {
  font-family: 'Manrope', sans-serif;
  background-color: #5f00b8;
  color:#fcffb2;
  text-align: center;
  font-size:1.25rem;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}
h1,
h2,
h3 {
  font-family: 'Cinzel Decorative', cursive;
  color: #f9ff47;
  font-size:3rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

h4,
h5,
h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  color: #f9ff47;
  font-size:1.9rem;
  text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.45);

}




/* hero */
#hero {
  background-color: #9900ff;
  border: 0.3rem solid black;
  border-radius: 3rem;
  font-size: 2rem;
  min-width: 30%;
  max-width: 100%;

  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}
#hero img {
  width: 40rem;
  max-width: 75%;
}




/* bio */
#bio {
  margin-top:4rem;
  margin-bottom:8rem;
}
#bio p {
font-size:1.75rem;
}



/* hobbies */
#hobbies {
  margin-bottom:8rem;
}
#hobbies li {
font-size:1.75rem;
}



/* gallery */
#gallery img {
  max-width: 100%;
  border: 0.6rem double black;
  background-color: #be78ff;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}
#gallery figure {
  font-size: 2rem;
  text-align: center;
}
#img-1:hover,
#img-2:hover,
#img-3:hover
 {
  scale:105%;
}
#gallery figcaption{
    font-weight: bold;
    color: #f9ff47;
}




/* video */
#video .vidwrapper {
position:relative;
padding-bottom:56.25%;
padding-top:0px;
height:0px;
} 
#video .vidwrapper iframe{
  position:absolute;
  left:2.5%;
  top:0px;
  right:0px;
  bottom:0px;
  height:90%;
  width:90%;
  border: 0.6rem double black;
  background-color: #be78ff;
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}



/* blog(previously lit) */
#lit {
  margin-bottom:8rem;
}



/* contact form */
#contact {
  margin-bottom:8rem;
}
#formElements {
  text-align:left;
  display:grid;
  row-gap:.5em;
}
#contact legend {
    font-size: 2rem;
    color: #f9ff47;
}



/* footer */
footer {
  color:black;
  text-align: left;
  background-color: #be78ff;
  border: 0.15rem solid black;
}
footer a {
    color:black;
}
footer a:hover,
footer a:focus {
    filter:invert(1);
    border-radius: 10px;
}









/* media state: 60 em(tablet) */
@media screen and (min-width: 60em) {
  figure{
    display:grid;
    grid-template-columns: 2fr 1fr;
  }
  figcaption{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.45);
    margin-left: 1rem;
  }
  #lit div{
    max-width: 100%;
    columns: 40rem;
  }
    #hero img {
  width: 30rem;
  }
}

/* media state: 100 em(laptop/pc) */
@media screen and (min-width: 100em) {
#hero{
  margin-left: 5rem;
  margin-right: 5rem;
  border: 0.4rem solid black;
}
#photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 100%;
}
h2 {
  grid-column: 1/-1;
}

#video .vidwrapper iframe{
  scale:80%;
}
}
