body{
    font-family:'Manrope', sans-serif;
    background-color:#5F00B8;
    text-align:center;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Cinzel Decorative', cursive;
    font-size:30pt;
    text-align:center;
    color:#F9FF47;
    font-size:32pt;
}

p{
    color:#FAFF61;
    font-size:20pt;
}

footer{
text-align:left;
background-color:#BE78FF;
}